﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-controller="Contacts" asp-action="Index">Go to Contacts</a></p>
    <p>This is a test message to verify rendering.</p>
</div>
